* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0px 120px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0px;
}

.right-links {
    display: flex;
    gap: 24px;
}

.first-block {
    display: flex;
    background-color: #1f2937;
    padding: 60px 120px;
}

.awesome-text {
    margin: 0px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.awesome-subtext {
    margin: 0px 0px 16px 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.placeholder-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 60px;
    background-color: gray;
    color: #E5E7EB;
}

.signup-1 {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    border-radius: 6px;
    border-style: none;
    padding: 5px 20px;
}

.second-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 120px;
    margin-bottom: 48px;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.illustration-container {
    display: flex;
    gap: 64px;
}

.illustration-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96px;
}

.illustration-text {
    font-size: 10px;
    text-align: center;
}

.square {
    height: 96px;
    width: 96px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
}

.third-block {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 80px 320px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;   
    width: 500px;
    margin: auto;
}

.signature {
    margin: 0px;
    font-weight: bold;
    text-align: right;
    padding-right: 96px;
}

.fourth-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 48px auto;

    background-color: #3882F6;
    width: 600px;
    padding: 24px 96px;
    border-radius: 8px;
}

.fourth-left {
    color: #E5E7EB;
}

.action-text {
    margin: 0px;
    font-weight: bolder;
}

.action-signup {
    margin: 0px;
    font-size: 12px;
}

.signup-2 {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    padding: 5px 20px;
    border-color: #E5E7EB;
    border-radius: 4px;
    border-style: solid;
}